#app .dummy{}

html {
	background-color: ;
	color: #3c2736;
}

#app {
    font-size: 2em;
}

@media screen and (max-width: 1000px) {
	#app { 
		font-size: 3em;
	}
}
#app > header {
    display: flex;
    justify-content: space-between;
}

#app > div > a {
    
}

.top > a {
	background: #c18b93;
	//border-style: solid;
	border-radius: 3px;
}

.top#left > a {
    align: left;
}

.top#mid > a {
    align: center;
}

.top#right > a {
    align: right;
}

#app > main {
    display: flex;
    justify-content: space-between;
	margin-top: 1em;
}

#app > main > div:nth-child(1) {
	width: 49%;
	margin-right: 0.2em;
	border-style-left: solid
}

#app > main > div:nth-child(1) > div {
	border-left-style: solid;
	margin-top: 0.5em;
	border-radius: 3px;
	border-color: #3c2736;
}

#app > main > div:nth-child(1) > div:hover {
	background-color: #67676f;
	color: #f8f4ef;
	border-color: #3c2736;
}

#app > main > div:nth-child(2) {
	width: 49%;
	margin-left: 0.2em;
}
#app > main > div {
    display: flex;
    flex-direction: column;
}

.add > input {
    font-size: 1em;
}

#app .listElement { 
    /* make list elements fall inline as block elements */
    position: relative;
    display: inline-block;
    /* next two lines only for display purposes */
    text-align: center;
    border:0.2em solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 20px;
    margin-top: 45px;
    padding: 20px;
    width: 150px;
    background-color: white;
    background-image: url(defaultImage.jpg);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 150px 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;

    height: 2em;
    color: black;
}
#app .listElement:hover{
  transform: scale(1.15);
}
/* horizontally center ul element */
#app ul { text-align:center; }


#app p{
  margin-left: 20px;
  font-style: italic;
}
#app .no-data{
  list-style-type: none;
  color: white;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}

/* The Modal (background) */
#app .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content  TODO make all margin auto for bigger screen*/
#app .modal-content {
  font-size: 0.8em;
  position: relative;
  margin: auto auto auto 0;
  padding: 0;
  border-radius: 3em;
  //width: 10em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
#app .close {
  line-height: 0;
  color: black;
  margin-left: 97%;
  margin-top: 2em;
  font-weight: bold;
}
#app .close:hover,
#app .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#app .modal-header1 {
  line-height: 0;
  padding: 2px 16px;
  background-color: white;
  color: black;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
}

#app .modal-body {
  width: auto;
  height: 400px;
  padding: 2px 16px;
  background-color: var(--button-background-color);
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;}

#app .h2{
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 1em;
}

#app img{
  margin-top: 15px;
  height: 170px;
  width: 130px;
}
/* Grow */

#app .grow {
	display: inline-block;
	transition-duration: .1s;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

#app #elementDoppelkopf{
    background-image: url(doppelkopf.jpg);
    background-position-y: bottom;
    background-size: 190px 220px;
}

#app #elementTichu{
  background-image: url(dragon.png);
  background-position-y: bottom;
  background-size: 140px 190px;
}

#app #elementSkat{
  background-image: url(skat.png);
  background-position-y: bottom;
  background-size: 200px 230px;
}

#app #elementBinokel{
  background-image: url(binokel.png);
  background-position-y: bottom;
  background-size: 180px 180px;
}

#app span{
  color: #000;
}
#app #modalButton{
  top: 21em;
}

#app .mainDiv{
  position:absolute;
  height: 18em;
  overflow-x: scroll;
  white-space: nowrap;
  width: 64em;
  margin-left: 2em;
  margin-right: 5em;
}

/*Scrollbar*/
/* width */
#app ::-webkit-scrollbar {
  width: 20px;
  border: solid 3px transparent;
}
/* Track */
#app ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
#app ::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
#app  ::-webkit-scrollbar-thumb:hover {
  background: darkgray; 
}








